* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #152238;
    background-image: url(/img/wormhole-2514312_1920.jpg);
    font-family: 'Bangers', cursive;
   

}

.memory-game {
    width: 700px;
    height: 700px;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    perspective: 1000px;

}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

}

.memory-card:active{
   transform: scale(0.97);
   transition: transform .2s;
}

.flip{
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #8b0000;
    backface-visibility: hidden;                        
}

.front-face {
    transform: rotateY(180deg);
}

img{
    object-fit: cover;
}

button{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    height: 50px;
    width: 100px;
    background-color: rgba(190, 2, 2, 0.932);
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 2px 2px #152238;
    position: absolute;
    color: white;
    margin-left: 15px;
    margin-top: 20px;
    outline: none;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    justify-content: center;
    align-items: center;
    background-color:  #152238; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    box-shadow: inset 0 0 50px 26px #193030;

}

#overlay h1{
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    font-family: 'Bangers', cursive;
    font-size: 70px;
    color: white;
}

